---
import { MdChevronRight, MdInfo } from "react-icons/md";
import Feature from "../../components/Feature";
import DefaultLayout from "../../layouts/DefaultLayout.astro";


---
<DefaultLayout title="About">
  <div class="container grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8">
    <Feature icon={MdInfo} title="Our History">
      <a href="/about/history" class="flex items-center">
        How it all started, and where it&apos;s going.
        <MdChevronRight size={16} className="p-0" />
      </a>
    </Feature>
    <Feature icon={MdInfo} title="Meet The Team">
      <a href="/about/team" class="flex items-center">
        See who&apos;s behind the magic.
        <MdChevronRight size={16} className="p-0" />
      </a>
    </Feature>
    <Feature icon={MdInfo} title="Meet our Safety Mascot">
      <a href="/about/safety-dale" class="flex items-center">
        Learn about Safety Dale and how we promote safety
        <MdChevronRight size={16} className="p-0" />
      </a>
    </Feature>
    <Feature icon={MdInfo} title="Our Robots">
      <a href="/about" class="flex items-center">
        Learn more about the robots we&apos;ve built
        <MdChevronRight size={16} className="p-0" />
      </a>
    </Feature>
    <Feature icon={MdInfo} title="School">
      <a href="/about/school" class="flex items-center">
        Check out Appomattox Regional Governor&apos;s School
        <MdChevronRight size={16} className="p-0" />
      </a>
    </Feature>
    <Feature icon={MdInfo} title="Contact Us">
      <a href="/about" class="flex items-center">
        Have something to say? Feel free to get in touch!
        <MdChevronRight size={16} className="p-0" />
      </a>
    </Feature>
  </div>
  <style lang="scss">
    @use "../../assets/styles/components/feature";
  </style>
</DefaultLayout>